@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

.page-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0.5rem;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #333;
}

.leftside-header-container{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1rem;
    padding: 1.125rem 1rem 1.125rem 1rem;
    /* background-color: antiquewhite; */
}

.logo-container{
    width: 200px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: blue; */
}

.logo-container img{
    width: 100%;
    height: auto;
    position: absolute;
}



.center-header-container{
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.search-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* background-color: aqua; */
}

.search-container form{
    /* position: relative; */
    width: 100%;
    height: auto;
}

.search-container input{
    width: 100%;
    height: auto;
    border: 1px solid #444;
    border-radius: 16px;
    font-size: 1rem;
    padding: 0.5rem;
}

.search{
    outline: none;
    border: none;
    border-radius: 0 16px 16px 0;
    background-color: white;

}
.search-container i{
    color: black;
    padding: 0.5rem;
}

.mic{
    outline: none;
    border: none;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(235, 231, 231);
    margin-left: 0.5rem;
}

.profile-notification-container{
    width: 10%;
    height: auto;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    /* margin-left: 0rem; */
    padding: 1.125rem 1rem 1.125rem 1rem;
}


.profile-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-container img{
    width: 100%;
    height: 100%;
}

.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.nav-left-container{
    width: 12%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}
.nav-list{
    /* background-color: bisque; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    padding: 1rem;
    
}

.nav-list-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    column-gap: 1rem;
    /* background-color: brown; */
}

/* .button{
    width: 100%;
    height: auto;
    padding: 1rem;
} */
.video-content-container{
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.searchwords-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchwords-container button{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
}

.highlight-button{
    background-color: black;
    color: white;
}
.video-grid1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    column-gap: 1rem;
    /* background-color: chocolate; */
}

.video-item{
    width: 30%;
    height: auto;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
    border-radius: 0.8rem;
    /* padding: 0.7rem 0.7rem 0.7rem 0rem; */
    margin: 0.7rem 0.7rem ;
}

.bg-image-container1{
    width: 100%;
    height: auto;
    padding: 6rem;
    background-color: aquamarine;
    background-image: url("./images/yt1.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-container2{
    width: 100%;
    height: auto;
    padding: 6rem;
    background-color: aquamarine;
    background-image: url("./images/yt2.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-container3{
    width: 100%;
    height: auto;
    padding: 6rem;
    background-color: aquamarine;
    background-image: url("./images/yt3.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-container4{
    width: 100%;
    height: auto;
    padding: 6rem;
    background-color: aquamarine;
    background-image: url("./images/yt4.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-container5 {
    width: 100%;
    height: auto;
    padding: 6rem;
    /* background-color: aquamarine; */
    background-image: url("./images/yt5.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-container6 {
    width: 100%;
    height: auto;
    padding: 6rem;
    /* background-color: aquamarine; */
    background-image: url("./images/yt6.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-container7 {
    width: 100%;
    height: auto;
    padding: 6rem;
    /* background-color: aquamarine; */
    background-image: url("./images/yt7.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-container8 {
    width: 100%;
    height: auto;
    padding: 6rem;
    /* background-color: aquamarine; */
    background-image: url("./images/yt8.jpg");
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.channel-title-details-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    
}
.channel-image-title-icon-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: top;
    column-gap: 0.5rem;
    /* background-color: azure; */
}

.channel-image-container{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.channel-image-container img{
    width: 100%;
    height: auto;
}

.title-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 0.8rem;
}

/* @media screen and (max-width: 1120px){
    .page-container{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 0.25rem;
        }
}

@media screen and (max-width: 480px) {
    .page-container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0.025rem;
    }

    h3{
        font-size: 0.5rem;
    }
    p{
        font-size: 0.4rem;
    }
} */